[Unit]
Description=Mopidy RFID Player service
Requires=local-fs.target
After=lightdm.service
#Requires=network-online.target

[Service]
Type=forking
GuessMainPID=no
StandardInput=null
ExecStart=/home/pi/rfidplayer.sh

[Install]
WantedBy=default.target
